@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  min-height: 100vh;
}

.leaflet-container {
  height: 500px;
  width: 980px;
}